docker-compose.env.yml

mysql/initdb/*
!mysql/initdb/.gitkeep
mysql/lib/*
!mysql/lib/.gitkeep

php/api/

posapi/poslib/*
!posapi/poslib/.gitkeep
posapi/vatps/*
!posapi/vatps/.gitkeep

volumes/keys/*
!volumes/keys/.gitkeep
